@import "tailwindcss";

:root {
  --radius: 0.625rem;
  --background: oklch(0.168 0.0732 266.5);
  --foreground: oklch(1 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.168 0.0732 266.5);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8066 0.0805 237.79);
  --secondary-foreground: oklch(0.2608 0.1374 265.84);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.8066 0.0805 237.79);
  --accent-foreground: oklch(0.2608 0.1374 265.84);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}